<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="simpleoauth.oauth2" type="SimpleOAuth.OAuth2.OAuth2Configuration, simpleoauth"/>
    </configSections>
    <!--
        simpleoauth.oauth2: Simple OAuth2 Configuration
        
        clients
            The named client configurations, each of which support the
            following parameter attributes:
            
            name
                Required service name, must be unique
                
            clientId
                Required service client id
                
            clientSecret
                Required service client secret
                
            authorizationUrl
                Required url to request an authorization code
                
            authorizationStateRequired
                Optional, true if the service requires state for obtaining an
                authorization code
            
            redirectUrl
                Optional url to redirect back to from the remote service
                
            tokenUrl
                Required endpoint url to retrieve access tokens
                
            scope
                Optional desired permissions scope
    -->
    <simpleoauth.oauth2>
        <clients>
            <add name="sample"
                 clientId=""
                 clientSecret=""
                 authorizationUrl=""
                 authorizationStateRequired="false"
                 redirectUrl=""
                 tokenUrl=""
                 scope=""/>
        </clients>
    </simpleoauth.oauth2>
</configuration>
